*{
    text-align: center;


}
img{
    padding: 1px;
    margin: 1px;
    width: 400px;
    height: 250px;
}

button{
    color:white;
    background-color: blue;
    border-radius:5px ;
    padding:8px;
    margin:10px;    
}

#price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}


#product-box{
    border: 2px solid black;
    width: 450px;
    height: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}